<a href="https://colab.research.google.com/github/PeddinaSupraja/Logic-Building-Task-1/blob/main/Day2_Problem_Solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Unique Words in a Sentence**

In [2]:
sentence=input ("Enter the Sentence:")
words=sentence.split()
unique_words=set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter the Sentence:python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'python', 'and', 'is', 'easy'}

# **2.Highest Salary from Employee Data**

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
name = max(employees, key=employees.get)
salary = employees[name]
print(f"Highest Salary: {name} - {salary}")

Highest Salary: Ravi - 75000

# **3.Find Maximum and Minimum Values**

In [4]:
numbers = [45, 22, 89, 10, 66]
max_val = numbers[0]
min_val = numbers[0]
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num
print("List:", numbers)
print("Maximum:", max_val)
print("Minimum:", min_val)

List: [45, 22, 89, 10, 66]
Maximum: 89
Minimum: 10

# **4.Count Products Above a Price Threshold**

In [5]:
prices = [450, 1200, 899, 1500, 3000]
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 3

# **5.Calculate Attendance Percentage**

In [6]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
total_days = len(attendance)
attendance_percentage = (present_count / total_days) * 100
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

# **6.Remove Duplicate Phone Numbers**

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

## **7.Count Character Frequency**

In [8]:
text = "python"
char_count = {}
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# **8: Convert List to Tuple**

In [9]:
numbers_list = [10, 20, 30]
numbers_tuple = tuple(numbers_list)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

# **9: Check if a Key Exists in a Dictionary**

In [10]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key_to_check = "Ravi"
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

# **10: Calculate Average Marks**

In [11]:
marks = [70, 75, 80, 65]
average = sum(marks) / len(marks)
print("Average Marks:", average)

Average Marks: 72.5